* {
    margin: 0;
}
.el-dialog {
    width: 520px;

    box-shadow: none;
    overflow-x: hidden;
}
.el-dialog .el-dialog__body {
    padding: 0;
    height: 350px;
    overflow-x: hidden;
}
.el-pagination{
    margin-top: 30px;
}
.page-component__scroll .el-scrollbar__wrap {
    overflow-x: hidden;
}
.el-scrollbar__wrap { overflow: scroll; width: 110%; height: 120%; }
.upload-demo1 {
    width: 90%;
    margin-bottom: 10px;
}
.upload-demo1 .el-upload__tip {
    margin-top: -8px;
    margin-left: 15px;
    margin-bottom: -8px;
}
.upload-demo1 .el-button {
    margin-left: 15px;
}
.upload-demo1 .el-upload-list {
    margin-left: 15px;
}
