* {
    margin: 0;
}
.el-dialog {
    width: 520px;

    box-shadow: none;
    overflow-x: hidden;
}
.el-dialog .el-dialog__body {
    padding: 0;
    height: 350px;
    overflow-x: hidden;
}
.el-pagination{
    margin-top: 30px;
}
.page-component__scroll .el-scrollbar__wrap {
    overflow-x: hidden;
}
.el-scrollbar__wrap { overflow: scroll; width: 110%; height: 120%; }