* {
    margin: 0;
}
.el-dialog {
    width: 520px;
    /*width: 100%;*/
    box-shadow: none;
}
.el-dialog .el-dialog__body {
    padding: 0;
}
.el-pagination{
    margin-top: 30px;
}

/*.el-input__inner {*/
/*    width: 300px;*/
/*}*/